* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-color: white;
  --bg-url: url(./assets/bg-mobile.jpg);
  --stroker-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(255, 255, 255, 0.2);
  --switch-bg-url: url(./assets/moon-stars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-mobile-light.jpg);
  --stroker-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.05);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.1);
  --switch-bg-url: url(./assets/sun.svg);
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

body {
  background: var(--bg-url) no-repeat top center/cover;
}

#container {
  width: 360px;
  margin: 56px auto 0;
  padding: 0 24px;
}

#profile {
  padding: 24px 0;
  text-align: center;
}

#profile img {
  width: 112px;
  height: 112px;
}

#profile p {
  font-weight: 500;
  margin-top: 8px;
}

#switch {
  position: relative;
  width: 64px;
  margin: 4px auto 0;
}

#switch button {
  display: flex;
  width: 32px;
  height: 32px;
  border: 0;
  background: white var(--switch-bg-url) no-repeat center;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  z-index: 1;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroker-color);
  border-radius: 9999px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  background: var(--surface-color);
  border: 1px solid var(--stroker-color);
  border-radius: 8px;
  font-weight: 500;
  text-decoration: none;
  padding: 16px 0;

  transition: background 0.2s;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--stroker-color);
}

#social-links {
  display: flex;
  padding: 24px 0;

  justify-content: center;
}

#social-links a {
  display: flex;
  font-size: 24px;
  padding: 16px;
  border-radius: 50%;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  transition: background 0.2s;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  font-weight: 400px;
  font-size: 14px;
  text-align: center;
  padding: 24px 0;
}
