* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

body {
  background: url(./assets/bg-mobile.jpg) no-repeat top center/cover;
}

#container {
  width: 360px;
  margin: 56px auto 0;
  padding: 0 24px;
}

#profile {
  padding: 24px 0;
  text-align: center;
}

#profile img {
  width: 112px;
  height: 112px;
}

#profile p {
  font-weight: 500;
  margin-top: 8px;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 16px;
  list-style: none;
  padding: 24px 0;
}

ul li a {
  display: flex;
  justify-content: center;
  align-items: center;

  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  text-decoration: none;
  padding: 16px 0;

  transition: background 0.2s;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

ul li a:hover {
  background: rgba(0, 0, 0, 0.02);
  border: 1.5px solid rgba(255, 255, 255, 0.5);
}

#social-links{
  display: flex;
  gap: 16px;
  padding: 24px 0;

  justify-content: center;
}

#social-links a {
  display: flex;
  font-size: 24px;
}

